<!--<h1>{{title}}</h1>
<app-heroes></app-heroes>-->

<div class="container">
    <div class="row">
            
        <app-user *ngFor='let u of imageBlocksArray' [user]='u' class="col-md-3">
        </app-user>
        <div class="button">
                <a href="#" class="btn btn-primary" routerLink="/oasis" routerLinkActive="active">Button</a>
                <a href="#" class="btn btn-primary" routerLink="/kanava" routerLinkActive="active">Button</a>
            </div>
        <div class="content">
                <router-outlet></router-outlet>    
        </div>
    </div>
</div>

<!--<div class="container">
    <app-calculator ></app-calculator>
</div>-->